@media all and (max-width: 480px) {
    .pixel_960 {
        max-width: 400px;
    }
}

@media all and (max-width: 960px) {
    .pixel_960 {
        max-width: 880px;
    }
}

@media all and (min-width: 961px) {
    .pixel_960 {
        max-width: 960px;
        min-width: 960px;
    }
}

.band-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hiddenDiv {
    display: none;
}

html {
    height: 100%;
}

html, body {
    margin: 0;
}

body {
    background: #333333 url(../img/bg/EvenTrader_bg_20.png) bottom no-repeat fixed;
    background-size: cover;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    color: #e79c27;
}

a {
    text-decoration: none;
    color: #E6258E;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.cart_button {
    align-content: right;
}

.logo {
    max-width: 300px;
}

.cart_button {
    max-width: 40px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.band-genres {
    text-transform: lowercase;
}

.band-name {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.band-image-img {
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 8px 8px 14px black;
}

.info-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.band-description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}