<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/add.js" defer></script>
    <link rel="stylesheet" href="/css/addevent.css">
</head>
<body>
    <div class="container">
        <div class="960">
            <h1>Add Event</h1>
            <form action="/save-event" method="post">
                <div id="event-details">
                    Event Name:
                    <input type="text" name="event-name">
                    Event Date:
                    <input type="date" name="event-date"><input type="time" name="event-time">
                    <br>
                    Event Description:
                    <textarea name="event-description"></textarea>
                </div>
                <div>
                    <br>
                    Select a Band:
                    <select name="band" id="bandSelect">
                        <option th:each="banda : ${allBand}" th:value="${banda.id}" th:text="${banda.name}"></option>
                    </select>
                    If your band doesn't exist in our database:
                    <button type="button" id="addBandButton" onclick="toggleBandButton()">Add Band</button>
                    <div class="addBand hiddenDiv">
                        <form id="addBandForm">
                            <br>
                            Add a Band to our list
                            <br>
                            Band's Name:
                            <input type="text" name="band-name">
                            <br>
                            Band's Description:
                            <input type="text" name="band-desc">
                            <br>
                            Band's Style:
                            <select name="musicStyle">
                                <option th:each="musicStyle : ${musicStyles}" th:text="${musicStyle}" th:value="${musicStyle}"></option>
                            </select>
                            <button type="button" onclick="sendAddBandForm()">Submit Band</button>
                        </form>
                    </div>
                    <br>
                    Select a Location:
                    <select name="location" id="locationSelect">
                        <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}"></option>
                    </select>
                    If your location doesn't exist in our database:
                    <button type="button" id="addLocationButton" onclick="toggleLocationButton()">Add Location</button>
                    <div class="addLocation hiddenDiv">
                        <form id="addLocationForm">
                            <br>
                            Add a Location to our list
                            <br>
                            Location Name:
                            <input type="text" name="location-name">
                            <br>
                            Location Address:
                            <input type="text" name="location-address">
                            <br>
                            Location Capacity:
                            <input type="number" name="capacity">
                            <button type="button" onclick="sendAddLocationForm()">Submit Location</button>
                        </form>
                    </div>
                </div>
                <input type="submit" value="Add Event">
            </form>
        </div>
    </div>
</body>
</html>