<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/add.js" defer></script>
    <link rel="stylesheet" href="/css/addevent.css">
</head>
<body>
<div class="container">
    <div class="pixel_960">
        <div th:replace="header :: copy"></div>
        <div class="page_title">Add event</div>
        <form action="/save-event" method="post">
            <div id="event-details" class="event_details">
                Event Name:
                <input type="text" name="event-name" class="event_name" required><br>
                Event Date:
                <input type="date" name="event-date" class="event_date" required><input type="time" name="event-time" class="event_time"required>
                <br>
                Event Description:
                <input type="text" name="event-description" class="event_description" required>
            </div>
            <div>
                <br>
                Select a Band:
                <select name="band" id="bandSelect" class="band_select">
                    <option th:each="banda : ${allBand}" th:value="${banda.id}" th:text="${banda.name}"></option>
                </select>

                <br>
                Select a Location:
                <select name="location" id="locationSelect" class="location_select">>
                    <option th:each="location : ${locations}" th:value="${location.id}"
                            th:text="${location.name}"></option>
                </select>

            </div>
            <div>
                Default Ticket price:
                <input type="number" name="ticket-price" class="ticket_price" required>
            </div>
            <input type="submit" value="Add Event" class="add_event_button" required>
        </form>
        If your band doesn't exist in our database:
        <button type="button" id="addBandButton" onclick="toggleBandButton()" class="add_band_button">Add Band</button>
        <div class="addBand hiddenDiv">
            <form id="addBandForm">
                <br>
                Add a Band to our list
                <br>
                Band's Name:
                <input type="text" name="band-name" class="band_name" required>
                <br>
                Band's Description:
                <input type="text" name="band-desc" class="band_desc"required>
                <br>
                Band's Style:
                <select name="musicStyle" class="style_select">
                    <option th:each="musicStyle : ${musicStyles}" th:text="${musicStyle}"
                            th:value="${musicStyle}"></option>
                </select>
                <button type="button" onclick="sendAddBandForm()" class="submit_band_button">Submit Band</button>
            </form>
        </div>
        <br>
        If your location doesn't exist in our database:
        <button type="button" id="addLocationButton" onclick="toggleLocationButton()" class="add_location_button">Add Location</button>
        <div class="addLocation hiddenDiv">
            <form id="addLocationForm">
                <br>
                Add a Location to our list
                <br>
                Location Name:
                <input type="text" name="location-name" class="location_name" required>
                <br>
                Location Address:
                <input type="text" name="location-address" class="location_address" required>
                <br>
                Location Capacity:
                <input type="number" name="capacity" class="location_capacity" required>
                <button type="button" onclick="sendAddLocationForm()" class="submit_location_button">Submit Location</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>