<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Events</title>
</head>
<body>
    <div class="container">
        <div class="960">
            <h1>ALL EVENTS</h1>
            <div class="search-panel"></div>
            <div class="events">
                <div class="event-row">
                    <div class="event">
                        <div class="event-image">
                            <img src="" alt="">
                        </div>
                        <div class="event-name">event name</div>
                        <div class="event-date">event date</div>
                        <div class="event-location">event location</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>