<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Events</title>
</head>
<body>
    <div class="container">
        <div class="960">
            <h1>ALL EVENTS</h1>
            <div class="search-panel"></div>
            <div class="events" th:each="event, iterStat : ${events}">
                <div class="event">
                    <div class="event-image">
                        <img width="250" src="http://placehold.it/400x250/000/fff" alt=""/>
                        <!--th:attr="src='img/event/event_' + ${event.getId} + '.jpg'"-->
                    </div>
                    <div class="event-name" th:text="${event.getName()}">event name</div>
                    <div class="event-date" th:text="${event.getDate()}">event date</div>
                    <div class="event-location" th:text="${event.getLocation().getName()}">event location</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>