<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="/css/events.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>All Events</title>
</head>
<body>


<div class="container">
    <div class="pixel_960">
        <div th:replace="header :: copy"></div>
        <div class="events_container">
            <div class="events" th:each="event, iterStat : ${events}">
                <div class="event">
                    <div class="event-image">
                        <a th:href="'/event/' + ${event.id}">
                            <img th:attr="src='/img/event/event_' + ${event.id} + '.jpg'" alt="event picture" class="event_picture">
                        </a>
                    </div>
                    <div class="event-name" th:text="${event.getName()}">event name</div>
                    <div class="event-date" th:text="${event.getDate()}">event date</div>
                    <div class="event-location" th:text="${event.getLocation().getName()}">event location</div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>