<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Shopping Cart</title>
</head>
<body>
<div class="container">
    <div class="960">
        <h1>Shopping Cart</h1>
        <div class="cartItems" th:each="lineItem, iterStat : ${lineItems}">
            <div class="cartItem">
                <div class="cartItem-image">
                    <img width="250" th:attr="src='/img/event/event_' + ${lineItem.getTicket().getEvent().getId()} + '.jpg'" alt="cartItem picture"/>
                </div>
                <div class="cartItem-name" th:text="${lineItem.getTicket().getEvent().getName()}">cartItem name</div>
                <div class="cartItem-date" th:text="${lineItem.getTicket().getEvent().getDate()}">cartItem date</div>
                <div class="cartItem-location" th:text="${lineItem.getTicket().getEvent().getLocation().getName()}">cartItem location</div>
                <div class="cartItem-quantity" th:text="${lineItem.getQuantity}">cartItem quantity</div>
                <br/>
            </div>
        </div>
    </div>
</div>
</body>
</html>