<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Page</title>
</head>
<body>
    <div class="container">
        <div class="960">
            <h1>EVENT PAGE</h1>
            <div class="img-and-info event-img-and-info">
                <div class="detail-page-image event-image">
                    <img width="500" src="http://placehold.it/400x250/000/fff" alt=""/>
                    <!--th:attr="src='img/event/event_' + ${event.getId()} + '.jpg'"-->
                </div>
                <div class="detail-page-info event-info">
                    <div class="event-name info-row" th:text="${event.getName()}">event name</div>
                    <div class="event-date info-row" th:text="${event.getDate()}">event date</div>
                    <div class="event-location info-row" th:text="${event.getLocation().getName()}">event location</div>
                    <div class="event-bands info-row">
                        <div class="event-band" th:each="band, iterStat : ${event.getBands()}">
                            <a th:href="'/band/' + ${band.getId()}" th:text="${band.getName()}">band</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-page-description"></div>
        </div>
    </div>
</body>
</html>