<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/eventpage.css">
    <title>Event Page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/event_page.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="pixel_960">
            <div th:replace="header :: copy"></div>
            <div class="img-and-info event-img-and-info">
                <div class="detail-page-image event-image">
                    <img class="event-image-img" th:attr="src='/img/event/event_' + ${event.id} + '.jpg'" alt="event picture"/>

                </div>
                <div class="detail-page-info event-info">
                    <div class="event-name info-row" th:text="${event.name}">event name</div>
                    <div class="event-date info-row" th:text="${event.date}">event date</div>
                    <div class="event-location info-row" th:text="'Location: ' + ${event.location.name}">event location</div>
                    <br>
                    <div class="event-bands info-row">
                        <div>Bands: </div>
                        <div class="event-band" th:each="banda : ${event.bands}">
                            <a th:href="'/band/' + ${banda.id}" th:text="${banda.name}">band</a>
                        </div>
                    </div>
                </div>
                <form id="addToCartForm">
                    Available ticket types:
                    <select name="ticket_type" id="ticket-type-selection">
                        <option th:each="ticket : ${tickets}" th:value="${ticket.id}" th:text="${ticket.getTicketType()}">
                        </option>
                    </select>
                    <input type="number" name="quantity" id="ticket-quantity" min="1" value="1">
                    <button type="button" id="addToCartBtn">Add To Cart</button>
                </form>
                <div class="alert alert-success fade" role="alert">
                    <strong>Ticket(s) added to cart</strong>
                </div>
            </div>
            <div class="detail-page-description"></div>
        </div>
    </div>
</body>
</html>